name: Test
on:
  pull_request:
    paths:
      - "**/*.py"
      - ".github/**/*.ya?ml"

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          uv --version
      - name: Install dependencies
        run: |
          uv sync --only-dev
      - name: Run static analysis
        run: uv run --no-sync ruff check .
      - name: Build package
        run: uv build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          uv --version
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - name: Install package and run tests
        run: |
          uv sync --only-dev
          uv install dist/*.whl
          mkdir reports
          uv run --no-sync pytest --cov=imagingservices --cov-report=term --cov-report=xml --junitxml=reports/junit.xml | tee reports/pytest-coverage.txt
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./reports/ytest-coverage.txt
          junitxml-path: ./reports/junit.xml
